---
---

.post-list li img {
    width: 35vw;
    min-height: 150px;
    min-width: 300px;
    height: 250px;
}

.post-list li {
    border-bottom: 1px solid rgb(194, 190, 190);
    box-shadow: 0 0 2px 6px rgba(0,0,0,0.3);
}